	h1 {
			font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
			font-size: 20px;
			color: #4dffbb;
		} 
	h2 {
			font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
			font-size: 16px;
			color: #4dffbb;
			border-top: 1px solid #ddd;
			padding-top: 20px;
		}
	p{
		margin-bottom: 22px;
		color: #ffffff;

		}
		a {
			color: #cf690b;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		html {
			overflow-y: scroll;
		}

	body{
		background-color: #000000;
		margin:0;
		font-family: Geneva, Tahoma, sans-serif;
		font-size: 16px;
		line-height: 20px;
		margin: 0;

	}
	#banner {
		width: 700px;
		margin: 0 auto;
		text-align: center;
		
		
	}
	#nav a{
		font-family: font-family: 'Fjalla One', sans-serif;
		font-weight: bold;
		color: #FF0048;
		margin-right: 10px;
		padding: 10px;

	}
	#nav {
		white-space: nowrap;
		text-align: center;
		text-transform: uppercase;

	}
	#nav a {
		font-family: Helvetica, sans-serif;
		font-weight: bold;
		color: #05e1ae;
		text-transform: uppercase;
		margin-right: 10px;
		padding: 10px;
	}

	#nav a:hover {
		color: #22c3c3;
		text-decoration: none;
		border-bottom: 1px solid #bc9d6d;
	}

	#main {
		color:#f0f8ff;
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	@import url('https://fonts.googleapis.com/css?family=Cinzel');
	.imgLeft {
		float: left;
		margin-right: 15px;
	}

	.imgRight {
		float: right;
		margin-left: 15px;
	}
	.quicklinks {
		font-family: Verdana, sans-serif;
		font-size: 11px;
	}

	#banner h1 {
		font-family: 'Cinzel', serif;
		color: #f05c79;
		font-size: 30px;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}
	#banner h2 {
		font-family: 'Cinzel', serif;
		color: #f05c79;
		font-size: 24px;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	}


	#footer{
		width: 30px;
		margin-left: auto;
		margin-right: auto;
		font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
		color: #999;
		font-size: 10px; 
		text-transform: uppercase;
		padding-top: 20px;
		}

